@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;1,6..96,400;1,6..96,800&family=Open+Sans:ital,wght@1,800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;1,6..96,400;1,6..96,800&family=Open+Sans:ital,wght@1,800&family=Poppins:wght@500&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.body{
    font-family:'Bodoni Moda', serif; 
    font-size: 1.2rem;
    
    
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background:linear-gradient(to left, #a71d31, #8c1929, #711522, #57111a, #3f0d12);
    
}
.left-text{
    flex-basis: 30%;
    
}

.gallary{
    flex-basis: 50%;
}
.heading{
    font-size: 3rem;
    color: rgb(255, 254, 254);
    text-align: center;
}
.subheading{
    color: rgb(237, 237, 237);
    margin-top: 10px;
    text-align: center;
}
.gallary{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-teplate-rows:120px;
    height:80vh;
}
.box{
    background-size: cover;
    background-position: top;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:center;
    background-blend-mode:hard-light;
    transition: all 1s ease-out;
    background-blend-mode: #999;
    background-color:#222;
    
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.box:hover{
    background-color: white;
    background-position: center;
    box-shadow: 0 0 4px white;
    cursor: pointer;
}
.email{
    color: white;
    position: fixed;
    bottom:18px ;
    width:100%; 
    text-align: center;
    padding: 10px;
    margin: -11px;
    font-family:'Open Sans', sans-serif;
}

.email:hover{
    color: rgb(167, 165, 165);
    cursor: pointer;
    text-decoration: underline;

}